body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000bb;
}

header{

    margin: 0;
    padding: 0;
    display: flex; /*Com isso todos os elementos podem ser alinhados em linha no header*/
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    background-color:#383535a2;
    align-items: baseline;
    
}


h1{

    font-size: 2em;
    width: 20%;
    color: yellow;
}
strong{

    color: black;
    background-color: yellow;
    font-weight: 900;
    padding: 0 3px;
}

.container{

    display: flex;
    width: 80%;
}
nav{

    display: flex;
    justify-content: space-between;
    width: 100%;
} 

ul #menu{

    display: flex;
    justify-content: space-between;
    width: 20%;
    flex-wrap: wrap;
    margin-top: 26px;
    

}

#menu a{

    display: inline-block;
    text-decoration: none;
    color: blanchedalmond;
    font-size: 1.5em;
    flex-wrap: wrap;

}

.acesso{

    margin-left: 20px;
}

form{

    display: inline-block;
    flex-wrap: wrap;
}
.search{

    display: flex;
    height: 28px;
}
form.Pesquisa{

    display: flex;
}
input.barra{

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxjaXJjbGUgaWQ9ImEiIGN4PSI4IiBjeT0iOCIgcj0iOCIvPjxtYXNrIGlkPSJiIiBtYXNrQ29udGVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgbWFza1VuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeD0iMCIgeT0iMCIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiBmaWxsPSIjZmZmIj48dXNlIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii43Ij48dXNlIHN0cm9rZT0iI0ZGRiIgbWFzaz0idXJsKCNiKSIgc3Ryb2tlLXdpZHRoPSI0IiB4bGluazpocmVmPSIjYSIvPjxwYXRoIGQ9Ik0xMy40MTQgMTFsNi4zNjcgNi4zNjdhLjk5NS45OTUgMCAwMS0uMDAzIDEuNDExYy0uMzkuMzktMS4wMy4zODUtMS40MS4wMDNMMTIgMTIuNDE0IDEzLjQxNCAxMXoiIGZpbGw9IiNGRkYiLz48L2c+PC9zdmc+);
    -webkit-appearance: none;
    color: #8197a4;
    width: 250px;
    cursor: pointer;
    border: 1px solid rgba(129,151,164,.5);
    background-color: rgba(15,23,30,.2);
    background-repeat: no-repeat;
    font-size: 17px;
    line-height: 24px;
    padding: 7px 0;
    box-shadow: none;
    float: right;
    margin: 0;
    pointer-events: all;
    height: auto;
    

}

header img{

    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
    
}

p{
    color: #ffffff;
    font-size: 1.6em;
    font-style: "roboto slab";
}

main{

    width: 100%;
}

h3{

    margin-top: 20px;
    color: #ffffff;
    font-size: 1.6em;
    font-style: "roboto slab";
    margin-left: 15px;
}
.filmes-lancamentos{

    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
}


.filmes-lancamentos .bad-boys{

    width: 20%;
    height: 35%;
}


.filmes-lancamentos .bad-boys:hover{

    width: 30%;
    transition: 1.6s;
}
.filmes-lancamentos .o-poço{

    width: 20%;
    height: 35%;
}

.filmes-lancamentos .o-poço:hover{

    width: 30%;
    transition: 1.6s;
}

.filmes-lancamentos .top-gun{

    width: 20%;
    height: 35%;
}

.filmes-lancamentos .top-gun:hover{

    width: 30%;
    transition: 1.6s;
}
.filmes-oscar{

    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;

}

.filmes-oscar .parasita{

    width: 15%;
    height: 35%;
}

.filmes-oscar .parasita:hover{

    width: 25%;
    transition: 1.6s;
}

.filmes-oscar .guerra{

    width: 15%;
    height: 35%;
}

.filmes-oscar .guerra:hover{

    width: 25%;
    transition: 1.6s;
}

.filmes-oscar .hollywood{

    width: 15%;
    height: 50%;
}

.filmes-oscar .hollywood:hover{

    width: 25%;
    transition: 1.6s;
}
.filmes-oscar .irlandes{

    width: 15%;
    height: 35%;
}

.filmes-oscar .irlandes:hover{

    width: 25%;
    transition: 1.6s;
}
.final footer{

    background-color: #3835356e;
    position: absolute;
    width: 100%;
    align-items: flex-end;
}

h2{

    text-align: center;
    color: yellow;
}

.contato{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contato img{
    width: 40px;
    height: 30px;
    margin: 0 10px;
}

h4{

    text-align: center;
    color: #c5c3c3;
}
