body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000bb;
}

header{

    margin: 0;
    padding: 0;
    display: flex; /*Com isso todos os elementos podem ser alinhados em linha no header*/
    background-color:#383535a2;
    align-items: baseline;
    
}


h1{

    font-size: 2em;
    width: 20%;
    color: yellow;
    cursor: context-menu;
}
strong{

    color: black;
    background-color: yellow;
    font-weight: 900;
    padding: 0 3px;
}

.container{

    display: flex;
    width: 80%;
}
nav{

    display: flex;
    justify-content: space-between;
    width: 100%;
} 

ul #menu{

    display: flex;
    justify-content: space-between;
    width: 20%;
    flex-wrap: wrap;
    margin-top: 26px;
    

}

#menu a{

    display: inline-block;
    text-decoration: none;
    color: blanchedalmond;
    font-size: 1.5em;
    flex-wrap: wrap;

}

#menu a:hover{

    color: #ffffff;
    font-size: 1.7em;
    transition: 1.35s;
}
.acesso{

    margin-left: 20px;
}

form{

    display: inline-block;
    flex-wrap: wrap;
}
.search{

    display: flex;
    height: 28px;
}
form.Pesquisa{

    display: flex;
}
.barra input{

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxjaXJjbGUgaWQ9ImEiIGN4PSI4IiBjeT0iOCIgcj0iOCIvPjxtYXNrIGlkPSJiIiBtYXNrQ29udGVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgbWFza1VuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeD0iMCIgeT0iMCIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiBmaWxsPSIjZmZmIj48dXNlIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii43Ij48dXNlIHN0cm9rZT0iI0ZGRiIgbWFzaz0idXJsKCNiKSIgc3Ryb2tlLXdpZHRoPSI0IiB4bGluazpocmVmPSIjYSIvPjxwYXRoIGQ9Ik0xMy40MTQgMTFsNi4zNjcgNi4zNjdhLjk5NS45OTUgMCAwMS0uMDAzIDEuNDExYy0uMzkuMzktMS4wMy4zODUtMS40MS4wMDNMMTIgMTIuNDE0IDEzLjQxNCAxMXoiIGZpbGw9IiNGRkYiLz48L2c+PC9zdmc+);
    -webkit-appearance: none;
    color: #8197a4;
    width: 250px;
    cursor: pointer;
    border: 1px solid rgba(129,151,164,.5);
    background-color: rgba(15,23,30,.2);
    background-repeat: no-repeat;
    font-size: 17px;
    line-height: 24px;
    padding: 7px 0;
    box-shadow: none;
    float: right;
    margin: 0;
    pointer-events: all;
    height: auto;
    
}



.barra .login{

    margin-top: 30px;

}

header img{

    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
    
}

p{
    color: #ffffff;
    font-size: 1.6em;
    font-style: "roboto slab";
}

main{

    width: 100%;
}

h3{

    margin-top: 20px;
    font-size: 1.6em;
    font-style: "roboto slab";
    margin-left: 40px;
}

.sub-titulo{

    width: 100%;
    color: black;
    background-color: yellow;
    font-weight: 900;
    padding: 0 3px;
}

.imagemfilme{

    max-width: 18%;
}
.filmes-lancamentos, .filmes-oscar, sugestoes-para-voce, .Documentarios{

    display: flex;
    justify-content: space-around;
    width: 92%;
    margin: 0 auto;
}


.filmes-lancamentos .bad-boys{

    width: 15%;
    height: 1%;
}


.filmes-lancamentos .bad-boys:hover{

    width: 18%;
    transition: 1.6s;
}

.filmes-oscar .parasita{

    width: 15%;
    height: 1%;
}

.filmes-oscar .parasita:hover{

    width: 18%;
    transition: 1.6s;
}


.sugestoes-para-voce1{

    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 100%;
}
.sugestoes-para-voce1 .selma{

    width: 15%;
    height: 2%;
    
}

.sugestoes-para-voce1 .selma:hover{

    width: 18%;
    transition: 1.6s;    
}


.sugestoes-para-voce2{

    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 100%;
}

.sugestoes-para-voce2 .linha2{

    width: 15%;
    height: 2%;
    
}

.sugestoes-para-voce2 .linha2:hover{

    width: 18%;
    transition: 1.6s;    
}



.sugestoes-para-voce3{

    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 100%;
}

.sugestoes-para-voce3 .linha3{

    width: 15%;
    height: 2%;
    
}

.sugestoes-para-voce3 .linha3:hover{

    width: 18%;
    transition: 1.6s;    
}

.filmes-nacionais{

    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    width: 92%;
    
}

.filmes-nacionais1{

    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    
}


 .filmes-nacionais1 .adc{

    width: 15%;
    height: 1%;
}

.filmes-nacionais1 .adc:hover{

    width: 18%;
    transition: 1.6s;    
}

.filmes-nacionais1 .cdb{

    width: 13%;
    height: 1%;
}

.filmes-nacionais1 .cdb:hover{

    width: 16%;
    transition: 1.6s;    
}

.filmes-nacionais2{

    display: flex;
    justify-content: flex-start;
    margin: 5px auto;
    width: 90%;    
}


.filmes-nacionais2 .adc{

    width: 15%;
    height: 1%;
}

.filmes-nacionais2 .adc:hover{

    width: 18%;
    transition: 1.6s;    
}
.Documentarios{

    display: flex;
    justify-content: space-around;
    width: 92%;
    margin: 0 auto;
}

.Documentarios .eu-nao-sou-seu-negro{

    width: 25%;
    height: 50%;
}

.Documentarios .eu-nao-sou-seu-negro:hover{

    width: 30%;
    transition: 1.6s;    
}

.Documentarios .kurt-cobain{

    width: 15%;
    height: 1%;
}

.Documentarios .kurt-cobain:hover{

    width: 18%;
    transition: 1.6s;    

}

.final footer{

    background-color: #3835356e;
    position: absolute;
    width: 100%;
    align-items: flex-end;
}

h2{

    text-align: center;
    color: yellow;
}

.contato{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contato img{
    width: 40px;
    height: 30px;
    margin: 0 10px;
}

h4{

    text-align: center;
    color: #c5c3c3;
}

@media(max-width: 1103px){
    header{
        display: block;
    }

    h1{
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: 4px;
    }

    .container{

        display: flex;
        width: 100%;
    }

    nav{

        width: 100%;
    }
}

/*@media(min-width: 700px) {
    
    .barra input{

        align-self: flex-start;
    }

    ul #menu{

        flex-direction: column;
    }

}

