body{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.logo{
    height: 150px;
    width: 90%;
    margin: 5px auto;
}

p{ /*#txt*/
    color: #ffffff;
    margin: 0 auto;
    width: 80%;
    font-size: 1.5em
}
.container{

    height: 100%;
    text-align: center;
    background-color: #000000;
    box-shadow: 0 0 10px 2px;
    width: 70%;
    
}

#introducao{
    width: 100%;
    height: 100%;
}

#controles{ /*Botões começar e próximo*/
    display: flex;
    justify-content: space-around;
    width: 222px;
    margin: 0 auto;
    
}

h1{
    font-size: 3.5em;
    font-weight: bold;
    color: #9c0d0d;
    margin-bottom: 0;
        
}

#primeira-questao{
    visibility: hidden;
}
.btn{
    width: 6.5rem;
}

.btn, button.respostas-botoens{ /*Demais botõens*/

    color: #ffffff;
    background-color: #000000;
    border-color: #f1f110;
    height: 30px;
    border-radius: 8px;
    padding: 5px 20px;
    
}

button.respostas-botoens:hover{

    color: #c51c1c;
    border-color:#c51c1c;
}

.btn-grid{

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 5px 60px;
    
}
/* 
#comecar{
    background-color: #000000;
} */

#botaoQuero, #botaoRecuso{    
    
    width: 100px;
    height: 45px;
    border-radius: 8px;
    margin: 25px auto;
}

#desc-pai{
    display: flex;
    
    justify-content: center;
    
}
#desc{
    flex-direction: column;
    width: 48%;

}
.dean{
    width: 121px;
    margin: auto 15px;
}

.dean:hover{
    width: 131px;
    margin: auto 15px;
    transition: 1.5s;
}
.sam{
    width: 200px;
    margin-left: 15px;
}

.sam:hover{
    width: 210px;
    margin-left: 15px;
    transition: 1.5s;
}

.bob{
    width: 269px;
    margin-left: 30px;
    
}

.bob:hover{
    width: 279px;
    margin-left: 30px;
    transition: 1.5s;
}

#botoes{

    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: 0 auto;
}

